body, html {
    height: 100%;
}
.bg {
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
}

.topic {
    padding-top: 70px;
    margin-left: 25%;
    margin-right: 25%;
}

.container {
    background-color: rgba(0,0,0, 0.2);
}

.container p {
    color: white;
}


.container h1 {
    color: blueviolet;
}


