body, html {
    height: 100%;
    width: 100%;
    background-image: url("https://cdn.wallpapersafari.com/14/69/L1i2ET.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.bg {
    padding-top: 20px;
}

.topic {
    padding-top: 70px;
    margin-left: 25%;
    margin-right: 25%;
}

.container {
    background-color: rgba(0,0,0, 0.2);
}

.container p {
    color: white;
}


.container h1 {
    color: blueviolet;
}

.container img {
    height: 220px;
    width: 360px;
}



